html {
  box-sizing: border-box;
  font: normal 100%/1.5 'Merriweather', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
}


h1 {
  margin: 0;
  text-align: center;
  background-color: #FFEC00;
  color: #fff;
  padding: 0.5em;
  text-shadow: 0 2px 3px rgba(0,0,0,0.8);
  font-size: 6em;
}

.logo7 {
  width: 100%;
}


ul {
  margin: 0;
  padding: 2.5em 0 2em 0;
  background-color: #FBE902;
  text-align: center;
}



li {
  display: inline;
}



.li1 {
  color: #6AEAF6;

}

.li2 {
  color: #FF75FF;

}

.li3 {
  color: #3BD7B9;

}

.li4 {
  color: #FE7D29;

}

.li5 {
  color: #9B62CA;

}

.li6 {
  color: #02A54F;

}


a {
  text-decoration: none;
  font-size: 2em;
  padding-right: 0.75em;
}


.back {
  position: relative;
  top: -15px;
  width: 15%;
  float: left;
  display: block;
}



h2 {
  margin: 0;
  padding: 0.3em;
  font-size: 2.2em;
  background-color: #FF75FF;
  color: #fff;
}

.guanyu {
  background-color: #6AEAF6;
}



.text {
  margin: 0.3em;
  text-align: center;
  font-size: 2em;
  color: #3BD7B9;
}

.text_1 {
  font-size: 1.75em;
  color: #5FB0FF;
  margin-bottom: 5em;
  padding: 50px;
}

.text_2 {
  font-size: 1.75em;
  color: #366AE2;
  margin-bottom: 5em;
  padding: 50px;
}

.text_3 {
  font-size: 1.75em;
  color: #9B62CA;
  padding: 50px;
  margin-bottom: 5em;
}



footer {
  background-color: #FFEC00;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  margin: 0;

}



footer p{
    font-size: 0.8em;
    color: #009344;
    padding: 0 0 20px 0;
  }


.top {
  width: 15%;
}
