html {
  box-sizing: border-box;
  font: normal 100%/1.5 'Merriweather', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
}


h1 {
  margin: 0;
  text-align: center;
  background-color: #FFEC00;
  color: #fff;
  padding: 0.5em;
  text-shadow: 0 2px 3px rgba(0,0,0,0.8);
  font-size: 6em;
}



h2 {
  margin: 0;
  padding: 0.7em;
  font-size: 2.5em;
  background-color: #FF75FF;
  color: #fff;
  
}


.huodong {
  background-color: #3BD7B9;
}



h4 {
  text-align: center;
  background-color: #8DAF5D;
  padding: 0;
  margin: 0.5em 0 0 0;
  color: #fff;
  font-size: 2em;
}




p {
  padding-left: 10px;
  margin: 0;
}





img {
  width: 50%;
}



div img {
  width: 100%;
}


a {
  text-decoration: none;
  font-size: 2em;
  padding-right: 0.75em;
}


ul {
  margin: 0;
  padding: 2.5em 0 2em 0;
  background-color: #FBE902;
  text-align: center;
}



li {
  display: inline;
}



.li1 {
  color: #6AEAF6;

}

.li2 {
  color: #FF75FF;

}

.li3 {
  color: #3BD7B9;

}

.li4 {
  color: #FE7D29;

}

.li5 {
  color: #9B62CA;

}

.li6 {
  color: #02A54F;

}

.back {
  padding: 15px;
  position: relative;
  top: -15px;
  width: 15%;
  float: left;
  display: block;
}



nav a:hover {
  background-color: #FF75FF;
  color: black;
}


.logo5 {
  width: 22%;
  position: relative;
  right: -150px;
  display: block;


}


footer {
  background-color: #FFEC00;
  text-align: center;
  padding-bottom: 0.3em;
  margin: 0;
  font-size: 3em;
}


.text_8 {
  font-size: 0.5em;
  color: #009344;
  clear: both;
}


.top {
  width: 15%;
}
