html {
  box-sizing: border-box;
  font: normal 100%/1.5 'Merriweather', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
}


h1 {
  margin: 0;
  text-align: center;
  background-color: #FFEC00;
  color: #fff;
  padding: 0.5em;
  text-shadow: 0 2px 3px rgba(0,0,0,0.8);
  font-size: 3em;
}

h2 {
  text-align: center;
  color: grey;
}


img {
  width: 100%;
}


.right {
  width: 50%;
  float: right;
}

.left {
  width: 50%;
  float: left;
}



a {
  text-decoration: none;
  font-size: 1.5em;
  padding-right: 1.5em;
}


ul {
  margin: 0;
  padding: 2.5em 0 2em 0;
  background-color: #FBE902;
  text-align: center;
}



li {
  display: inline;
}


.li1 {
  color: #6AEAF6;

}

.li2 {
  color: #6AEAF6;

}

.li3 {
  color: #6AEAF6;

}

.li4 {
  color: #FF75FF;

}

.li5 {
  color: #3BD7B9;

}

.li6 {
  color: #FE7D29;

}


footer {
  background-color: #FFEC00;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  margin: 0;

}



.text_8 {
    font-size: 1.2em;
    color: #009344;
    padding: 0 0 20px 0;
  }


.top {
  width: 15%;
}
