html {
  box-sizing: border-box;
  font: normal 100%/1.5 'Merriweather', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
}


h1 {
  margin: 0;
  text-align: center;
  background-color: #FFEC00;
  color: #fff;
  padding: 0.5em;
  text-shadow: 0 2px 3px rgba(0,0,0,0.8);
  font-size: 6em;
}

h2 {
  margin: 0;
  padding: 0.7em;
  font-size: 2em;
  background-color: #FF75FF;
  color: #fff;
}

.kechen {
  background-color: #FE7D29;
}

h5 {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  color: grey;
  padding-bottom: 10px;
}


p {
  padding-left: 10px;
  margin: 0;
}

.text4 {
  margin: 1em 0.3em 1em 0.3em;
  color: #1467BC;
  font-size: 1.3em;
}


footer {
  background-color: #FFEC00;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  margin: 0;
  font-size: 3em;
}


.text_8 {
  font-size: 0.5em;
  color: #009344;
  clear: both;
}


.top {
  width: 15%;
}


.box-1 {
  margin-bottom: 40px;
}

.box-2 {
  margin-bottom: 40px;
}

.box-3 {
  margin-bottom: 80px;
}

.box-4 {
  margin-bottom: 80px;
}

.box-5 {
  margin-bottom: 65px;
}

.box-1 img {
  float: left;
  margin: 15px;
  width: 19.5%;
}

.box-1 img {
  float: left;
  margin: 15px;
  width: 19.5%;
}

.box-2 img {
  float: left;
  margin: 15px;
  width: 19.5%;
}

.box-3 img {
  float: left;
  margin: 15px;
  width: 19.5%;
}

.box-4 img {
  float: left;
  margin: 15px;
  width: 19.5%;
}

.box-5 img {
  float: left;
  margin: 15px;
  width: 19.5%;
}
