html {
  box-sizing: border-box;
  font: normal 100%/1.5 'Merriweather', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  text-align: center;
  background-color: #FFEC00;
  color: #fff;
  padding: 1em 1.5em 1em 1.5em;

  text-shadow: 0 2px 3px rgba(0,0,0,0.8);
}

.banner {
  width: 100%;
}



nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;

}

nav a {
  text-decoration: none;
  padding: 0.4em;
  margin: 0;
  display: block;
  text-align: center;
  width: 100%;
  color: #fff;
  border-left: 1px solid #fff;


}

nav li {
  float: left;
  width: 33.3%;
  border: 0.2em solid #fff;
  border-radius: 0.65em;
  background-color: #6AEAF6;

}

nav a:hover {
  background-color: #FF75FF;
  color: black;
}

h2 {
  margin: 0;
  font-size: 1em;

}

strong {
  font-size: 1.05em;
  color: #0A59A0;
}

img {
  width: 50%;
}

.left {
  float: left;
}


h2 {
  background-color: #FF75FF;
  color: #fff;
  padding: 0.5em;
}


h3 {
  font-size: 0.7em;
  text-align: center;
  color: #6AEAF6;
}


h4 {
  margin: 0;
}


dd {
margin: 0;

}

dt {
  padding: 0.5em;
}

p {
  margin: 0;
  padding: 0.5em;

}
