html {
  box-sizing: border-box;
  font: normal 100%/1.5 'Merriweather', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
}


h1 {
  margin: 0;
  text-align: center;
  background-color: #FFEC00;
  color: #fff;
  padding: 0.5em;
  text-shadow: 0 2px 3px rgba(0,0,0,0.8);
  font-size: 6em;
}

.logo7 {
  width: 100%;
}

nav {

}

a {

  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
}




li {
  border: 0.5em solid #6AEAF6;
  list-style-type: none;
  display: inline;
  background-color: #6AEAF6;
  border-radius: 0.4em;


}

.li1 {
  background-color: #FF75FF;
  border: 0.5em solid #FF75FF;
}

.li2 {
  background-color: #3BD7B9;
  border: 0.5em solid #3BD7B9;
}

.li3 {
  background-color: #FE7D29;
  border: 0.5em solid #FE7D29;
}

.li4 {
  background-color: #9B62CA;
  border: 0.5em solid #9B62CA;
}

.li5 {
  background-color: #02A54F;
  border: 0.5em solid #02A54F;
}





h2 {
  margin: 0;
  padding: 0.7em;
  font-size: 2em;
  background-color: #FF75FF;
  color: #fff;
}

.guanyu {
  background-color: #6AEAF6;
}





.text {
  margin: 0.3em;
  text-align: center;
  font-size: 2em;
  color: #3BD7B9;
}

.text_1 {
  font-size: 1.3em;
  color: #5FB0FF;
  margin-bottom: 3em;
  padding-left: 15px;
}

.text_2 {
  font-size: 1.3em;
  color: #366AE2;
  margin-bottom: 3em;
  padding-left: 15px;
}

.text_3 {
  font-size: 1.3em;
  color: #9B62CA;
  padding-left: 15px;
  margin-bottom: 3em;
}



p {
  padding-left: 10px;
  margin: 0;
}


.logo3 {
  width: 10%;
  float: right;
}


footer {
  background-color: #FFEC00;
  text-align: center;
  padding-bottom: 0.5em 0 0.5em 0;
  margin: 0;
  font-size: 3em;
}


footer p{
  font-size: 0.5em;
  color: #009344;
  clear: both;
}


.top {
  width: 15%;
}
