html {
  box-sizing: border-box;
  font: normal 100%/1.5 'Merriweather', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
}


h1 {
  margin: 0;
  text-align: center;
  background-color: #FFEC00;
  color: #fff;
  padding: 0.5em;
  text-shadow: 0 2px 3px rgba(0,0,0,0.8);
  font-size: 6em;
}



h2 {
  margin: 0;
  padding: 0.7em;
  font-size: 2em;
  background-color: #FF75FF;
  color: #fff;
}


.huodong {
  background-color: #3BD7B9;
}



h4 {
  text-align: center;
  background-color: #8DAF5D;
  padding: 0;
  margin: 0.5em 0 0 0;
  color: #fff;
  font-size: 2em;
}




p {
  padding-left: 10px;
  margin: 0;
}





img {
  width: 50%;
}



div img {
  width: 100%;
}

nav {

}

a {

  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
}




li {
  border: 0.5em solid #6AEAF6;
  list-style-type: none;
  display: inline;
  background-color: #6AEAF6;
  border-radius: 0.4em;


}

.li1 {
  background-color: #FF75FF;
  border: 0.5em solid #FF75FF;
}

.li2 {
  background-color: #3BD7B9;
  border: 0.5em solid #3BD7B9;
}

.li3 {
  background-color: #FE7D29;
  border: 0.5em solid #FE7D29;
}

.li4 {
  background-color: #9B62CA;
  border: 0.5em solid #9B62CA;
}

.li5 {
  background-color: #02A54F;
  border: 0.5em solid #02A54F;
}


nav a:hover {
  background-color: #FF75FF;
  color: black;
}


.logo5 {
  width: 22%;
  position: relative;
  right: -150px;
  display: block;


}


footer {
  background-color: #FFEC00;
  text-align: center;
  padding-bottom: 0.3em;
  margin: 0;
  font-size: 3em;
}


.text_8 {
  font-size: 0.5em;
  color: #009344;
  clear: both;
}


.top {
  width: 15%;
}
